<div class="container-fluid d-flex align-items-center py-4 bg-body-tertiary">
  <div class="form-signin w-100 m-auto">
    <%= form_with model: @user, url: profile_path, local: true, class: 'text-center' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <h1 class="h3 mb-3 fw-normal"><%= t('.title') %></h1>
      <%= image_tag current_user.avatar.url, class: 'rounded-circle', size: "80x80" %>
      <div class="form-floating">
        <%= f.label :avatar %>
        <%= f.file_field  :avatar, class: "form_control", accept: 'image/*' %>
        <%= f.hidden_field :avatar_cache  %>
      </div>
      <div class="form-floating">
        <%= f.text_field :name, class: 'form-control'%>
        <%= f.label :name %>
      </div>
      <div class="form-floating">
        <%= f.email_field :email, class: 'form-control'%>
        <%= f.label :email %>
      </div>
      <%= f.submit t('defaults.update'), class: 'btn btn-primary w-100 py-2' %>
      <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
      <%= link_to t('.password_reset'), new_password_reset_path,class: 'btn btn-primary w-100 py-2'%>
    <% end %>
  </div>
</div>