<div class="container-fluid custom-height">
  <h1><%= @day_date %></h1>
  <div class="row">
    <div class="col">
      <i class="fa fa-beer-mug-empty fa-3x"></i>
    </div>
    <div class="col">
      <i class="fa fa-wine-bottle fa-3x"></i>
    </div>
    <div class="col">
      <i class="fa-solid fa-martini-glass-citrus fa-3x"></i>
    </div>
  </div>

  <%= form_with  model: @record.first, local: true do |f| %>
    <table class="table">
      <tbody>
        <% @record.each do |record| %>
          <tr>
              <td><%= record.drink.name %></td>
              <td><%= f.number_field :quantity, value: record.quantity, min: 0 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      <%= link_to "お酒を追加する", new_drink_path(selected_date: @day_date) , class: "btn btn-primary" %>
      <p>純アルコール量：</p>
      <%= f.submit "保存", class: 'btn btn-primary py-2' %>
  <% end %>
</div>