<% content_for(:title, t('.title')) %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-7">
      <%= form_with model: @notification_setting, url: notification_setting_path, local: false do |f| %>
        <h1 class="h3 mb-3 text-center mt-5"><%= t('.title') %></h1>
        <div class="form-check form-switch mt-5">
          <%= f.label :day, class: "form-check-label" %>
          <%= f.check_box :day, class: "form-check-input", roll: "switch", checked: @notification_setting.day? %>
        </div>
        <div class="form-check form-switch mt-3">
          <%= f.label :week, class: "form-check-label" %>
          <%= f.check_box :week, class: "form-check-input", roll: "switch", checked: @notification_setting.week? %>
        </div>
        <div class="form-check form-switch mt-3">
          <%= f.label :month, class: "form-check-label" %>
          <%= f.check_box :month, class: "form-check-input", roll: "switch", checked: @notification_setting.month? %>
        </div>
        <div class="d-flex justify-content-center mt-5">
          <%= f.submit t('defaults.update'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

